body.status-page {
    padding-top: 40px;
    font-family: $base-font-family;
    background-color: #FFFFFF;
    color: #333333;
    font-size: 1.4em;
    font-weight: $base-font-weight;
    -webkit-font-smoothing: antialiased;

    &.no-padding {
        padding-top: 0 !important;
    }

    hr {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    h1, h2, h3, h4, h5 {
        margin-bottom: 20px;
    }

    img {
        box-sizing: border-box;

        &.emoji {
            height: 20px;
            width: 20px;
            vertical-align: middle;
            max-width: none;
        }
    }

    p, strong {
        color: $cachet-base-dark;
    }

    .tooltip {
        .tooltip-inner {
            padding: 8px 12px;
            font-size: 14px;
            word-wrap: break-word;
        }
    }

    .help-icon {
        cursor: help;
    }

    .light-text {
        color: #95a1ad !important;
    }

    .text-success, .text-component-1 {
        color: $cachet_green;
        letter-spacing: 1.1px;
    }

    .text-info, .text-component-2 {
        color: $cachet_blue;
        letter-spacing: 1.1px;
    }

    .text-alert, .text-component-3 {
        color: $cachet_yellow;
        letter-spacing: 1.1px;
    }

    .text-danger, .text-component-4 {
        color: $cachet_red;
        letter-spacing: 1.1px;
    }

    .container {
        max-width: 960px;
        margin-bottom: 285px
    }

    .bottomed-abs {
        bottom: 0;
        position: absolute;
    }

    .page-header {
        margin-top: 10px;
    }

    .app-banner {
        margin-bottom: 30px;
    }

    .navigation {
        background: #FFF;
        border-bottom: solid .01em #eaeef1;
        height: 80px;
        position: absolute;
        top: 0;
        width: 100%;
        display: block;
    }

    .navigation_logo {
        float: left;
        height: 100%;
        text-decoration: none;
        cursor: pointer;
    }

    .banner-image {
        position: absolute;
        margin: 2rem 0 0 2rem;
        line-height: 3.6em;
        vertical-align: middle;
        width: 142.2px;
        height: 38.7px;
    }

    .uptime-logo-text-part {
        width: 97px;
        height: 22px;
        margin: 7rem 0 0 6.4rem;
        line-height: 9.5em;
        vertical-align: middle;
        font-size: 10.8px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 10.8px;
        color: #7a18ff;
        text-decoration: none;
    }

    .navbar-btn-default {
        font-size: 16px;
        margin-left: 25px;
        margin-right: 35px;
    }

    .btn-log-out {
        padding: 40px;
    }

    .navigation_extras {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: calc(100% + 1px);
        position: absolute;
        right: 0;
        top: 0;
    }

    .navigation_subscribe {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .panel_heading_subscribe {
        margin-top: 50px;
    }

    .subscribe-btn-container {
        position: relative;
        text-align: center;
    }

    .diagonal-green {
        height: 80px;
        width: 170px;
        object-fit: contain;
    }

    .u-content--upper {
        font-size: 11px;
        font-weight: bold;
        line-height: 3.2;
        letter-spacing: 0.8px;
    }

    .about-app {
        margin-bottom: 40px;
        p {
            font-size: 1.2em;
        }
    }

    .alert {
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 1.2px;
    }

    .section-status {
        top: 30px;
        position: relative;
        margin-top: 4em;
        margin-bottom: 5em;
    }

    .notification-subs-container {
        width: 590px;
        height: 193px;
        background-color: #ffffff;
        border: solid 1px #e5ecf1;
        margin: auto;
        padding: 10px;
        margin-bottom: 90px;
    }

    .notification-name {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.33;
        color: #95a1ad;
    }

    .notification-url {
        font-size: 20px;
        line-height: 1.2;
        color: #2d374d;
    }

    .copy_btn {
        width: 80px;
        height: 35px;
        object-fit: contain;
        background-color: #47f077;
        border: none;
        font-size: 12px;
        vertical-align: middle;
    }

    td {
        padding: 10px;
    }

    .some-left-margin {
        margin-left: 10px;
    }

    .push-notifications-container {
        margin: auto;
        padding: 10px;
        margin-bottom: 90px;
    }

    .ucontact-subscribe-container {
        width: 590px;
        height: 65px;
        background-color: #f6f7f9;
        border: solid 1px #e5ecf1;
    }

    .subscribe-form-label{
        float: left;
        padding: 20px;
        margin-bottom: 0;
    }

    .subscribe-form-control {
        width: 429px;
        height: 50px;
        background-color: #ffffff;
        border: solid 1px #e8edf0;
        margin-top: 1%;
    }

    .btn-save-purple {
        width: 150px;
        height: 50px;
        background-color: #7a18ff;
        color: #ffffff;
    }

    .timeline {
        .content-wrapper {
            margin-top: 40px;
            margin-bottom: 40px;
        }
        h3 {
            margin-top: 30px;
            margin-bottom: 40px;
            font-size: 22px;
            small {
                margin-left: 15px;
            }
        }

        .panel {
            .panel-body {
                h1 {
                    margin-top: 0;
                    margin-bottom: 4px;
                    font-size: 2em;
                }
                h2 {
                    margin-top: 0;
                    margin-bottom: 4px;
                    font-size: 1.8em;
                }
                h3 {
                    margin-top: 0;
                    margin-bottom: 4px;
                    font-size: 1.6em;
                }
                h4 {
                    margin-top: 0;
                    margin-bottom: 4px;
                    font-size: 1.4em;
                }
                h5 {
                    margin-top: 0;
                    margin-bottom: 4px;
                    font-size: 1.2em;
                }
                p {
                    margin: 0;
                }
            }
        }

        .moment {
            width: 100%;
            padding-bottom: 10px;
            position: relative;
            &.first {
                &:before {
                    // height: 130%;
                    top: -5px;
                }
            }
            &:before {
                content: '';
                position: absolute;
                left: 26px;
                top: -5px;
                width: 2px;
                height: 100%;
                background: #7266BA;
            }
            .status-icon {
                background: #fff;
                width: 35px;
                height: 35px;
                border-radius: 50%;
                border: 1px solid #e8e8e8;
                position: absolute;
                left: 25px;
                top: 14px;
                .icon {
                    position: absolute;
                    top: 7px;
                    left: 11px;

                    &.ion-alert {
                        left: 15px;
                    }
                }
                &.status-0 {
                    color: $cachet_pink;
                }
                &.status-1 {
                    color: $cachet_orange;
                }
                &.status-2 {
                    color: $cachet_yellow;
                }
                &.status-3 {
                    color: $cachet_blue;
                }
                &.status-4 {
                    color: $cachet_green;
                }
            }
            &.last:before {
                background: #fff;
            }
            .panel {
                margin: 0;
                border-radius: 2px;

                &.panel-message {
                    border: 1px solid #e8e8e8;
                    .date {
                        color: darken(#c7c7c7, 20%);
                    }

                    &:before {
                        position: absolute;
                        top: 16px;
                        left: 1px;
                        display: inline-block;
                        border-top: 15px solid transparent;
                        border-left: 0 solid #e8e8e8;
                        border-right: 15px solid #e8e8e8;
                        border-bottom: 15px solid transparent;
                        content: " ";
                    }

                    &:after {
                        position: absolute;
                        top: 17px;
                        left: 2px;
                        display: inline-block;
                        border-top: 14px solid transparent;
                        border-left: 0 solid #fff;
                        border-right: 14px solid #fff;
                        border-bottom: 14px solid transparent;
                        content: " ";
                    }
                }

                .panel-heading {
                    strong {
                        font-size: 1.1em;
                    }
                }

                .panel-body {
                    border-top: 1px solid #eee;
                    p {
                        &:not(:last-child) {
                            margin-bottom: 10px;
                        }
                        font-size: 1.1em;
                    }
                }
            }
        }
    }
    @media (max-width: 767px) {
        .timeline .moment .content {
            width: 100%;
        }

        .navigation_extras {
            display: none !important;
        }
    }

    .list-group {
        // margin-bottom: 20px;
        padding-left: 0;
        // border-radius: 0;

        .list-group-item {
            border-radius: 0;
            background-color: #ffffff;
            //border: 1px solid $cachet_gray_light;
            font-size: 1.1em;
            //padding: 15px 15px;
            padding: 1.8rem;
            border: none;

            a {
                font-weight: 400;
            }

            h4 {
                margin: 0;
                font-weight: 400;
                max-width: 90%;
            }

            p, time {
                margin-bottom: 0;
                line-height: 1.3em;
            }

            &.group-name {
                background-color: $cachet_gray_light;
                //padding: {
                //    top: 0.6em;
                //    bottom: 0.6em;
                //}
                cursor: pointer;
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            &.break {
                padding: 1px;
                background-color: $cachet-base-medium;
            }

            .larger {
                font-size: larger;
            }

            .text-inline {
                display: inline-flex;
            }

            .status-text {
                margin-left: 2rem;
                font-size: 13px;
                font-weight: bold;
                margin-top: 2px;
                letter-spacing: 1.1px;
            }
        }

        &.components {
            @extend .panel;
            border-color: $cachet_gray_light;

            &:last-child {
                margin-bottom: 30px;
            }

            + .components {
                margin-top: 5px;
            }

            p {
                margin-bottom: 10px;
            }
            .badge {
                color: transparent;
            }

            a {
                color: $cachet-base-dark !important;
            }

            .plus-minus-toggle {
                margin-left: 2rem;
            }

        }
    }

    footer {
        //position: absolute;
        width: 100%;
        bottom: 0;
        //height: 60px;
        padding: 30px 0 60px 0;
        border-top: 1px solid $cachet_gray_light;
        color: $cachet-gray-darker;
        font-size: 15px;
        line-height: 30px;
        text-align: center;
        //text-shadow: 0 1px 0 rgba(255,255,255,0.5);
        font-weight: normal;
        box-sizing: initial;
        position: relative;
        background-color: #2f3550;
        list-style-type: none !important;
        height: 189px;

        .btn {
            text-shadow: none;
        }

        .icons {
            a.icon-link {
                display: inline-block;
                min-width: 30px;
                height: 30px;
                border-radius: 3px;
                background-color: $cachet-gray-darker;
                text-align: center;
                color: $cachet_gray_light;
                transition: all 0.15s;
                padding: 0 10px 0 10px;

                &.rss {
                    background-color: $cachet-orange;
                }

                &:hover {
                    text-decoration: none;
                    background-color: darken($cachet-gray-darker, 10%);
                }
            }
        }

        .list-inline > li {
            padding-right: 0;
        }

        .footer_rectangle {
            margin-left: 30px;
            top: 0;
            position: absolute;
            width: 94%;
        }

        .footer_first_line {
            margin-bottom: 42px;
        }

        .footer_legals {
            display: inline-flex;
            float: right;
            list-style-type: none !important;
            opacity: 0.4;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 2.14;
            letter-spacing: -0.4px;
            color: #ffffff;
        }

        .footer_copyright {
            display: inline-flex;
            opacity: 0.4;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 2.14;
            letter-spacing: -0.4px;
            color: #ffffff;
        }

        .footer_to_top_rectangle {
            width: 63px;
            height: 35px;
            background-color: #595d73;
            padding: 9px;
            text-decoration: none;
        }

        @media (min-width: 768px) {
            text-align: left;

            .list-inline {
                text-align: right;
                > li {
                    padding-right: 0;
                }
            }

            .icons {
                margin-top: 0;
                text-align: right;
            }
        }
    }

    // Individual section styling.
    .section-timeline, .section-components, .section-metrics, .section-scheduled {
        margin-top: 40px;
    }

    .navbar-custom {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        border-radius: 0px;
        margin-bottom: 10px;

        a.navbar-brand {
            font-size: 30px;
            font-weight: 600;
        }

        .navbar-nav li a {
            color: $cachet-base-dark;
            font-size: 1.7rem;

            &:hover {
                background-color: transparent;
            }
        }
    }
}
