@font-face {
  font-family: MarkOT Thin;
  src: url(../../../fonts/MarkOT-Book.otf) format("opentype");
  font-weight: 100;
  font-style: normal
}

@font-face {
  font-family: MarkOT;
  src: url(../../../fonts/MarkOT-Medium.otf) format("opentype");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: MarkOT Bold;
  src: url(../../../fonts/MarkOT-Bold.otf) format("opentype");
  font-weight: 700;
  font-style: normal
}
@font-face {
  font-family: FF Mark Pro Thin;
  src: url(../../../fonts/ff-mark-pro-book.otf) format("opentype"), url(../../../fonts/ff-mark-pro-book.woff) format("woff");
  font-weight: 100;
  font-style: normal
}

@font-face {
  font-family: FF Mark Pro;
  src: url(../../../fonts/ff-mark-pro-medium.otf) format("opentype"), url(../../../fonts/ff-mark-pro-medium.woff) format("woff");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: FF Mark Pro Bold;
  src: url(../../../fonts/ff-mark-pro-bold.otf) format("opentype"), url(../../../fonts/ff-mark-pro-bold.woff) format("woff");
  font-weight: 700;
  font-style: normal
}

@font-face {
  font-family: FF Mark Pro;
  src: url(../../../fonts/ff-mark-pro-medium.otf) format("opentype"), url(../../../fonts/ff-mark-pro-medium.woff) format("woff");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: FF Mark Pro Bold;
  src: url(../../../fonts/ff-mark-pro-bold.otf) format("opentype"), url(../../../fonts/ff-mark-pro-bold.woff) format("woff");
  font-weight: 700;
  font-style: normal
}

@font-face {
  font-family: FF Mark Pro Thin;
  src: url(../../../fonts/ff-mark-pro-book.otf) format("opentype"), url(../../../fonts/ff-mark-pro-book.woff) format("woff");
  font-weight: 100;
  font-style: normal
}

@font-face {
  font-family: FF Mark Pro;
  src: url(../../../fonts/ff-mark-pro-medium.otf) format("opentype"), url(../../../fonts/ff-mark-pro-medium.woff) format("woff");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: FF Mark Pro Bold;
  src: url(../../../fonts/ff-mark-pro-bold.otf) format("opentype"), url(../../../fonts/ff-mark-pro-bold.woff) format("woff");
  font-weight: 700;
  font-style: normal
}
